<!doctype html>

<!-- ESPECIFICANDO NOSSO MÓDULO ANGULAR listaContatos -->
<html ng-app="gamaBlogApp">
	<head>
		<!-- META -->
		<meta charset="utf-8">
		<!-- Otimizar a exibição em dispositivos móveis -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; style-src * 'unsafe-inline'; img-src * data:; script-src * 'unsafe-inline' 'unsafe-eval'">

		<title>Agora você vê: a magia do dinheiro</title>
		<!-- CSS -->
		<!-- Carregando o bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="shortcut icon" href="images/favicon.png" />
	</head>

	<!-- DEFINE O CONTROLLER E BUSCA TODOS OS CONTATOS -->
	<body ng-controller="mainController">

		<!-- botão de compartilhamento de rede social -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=257673200954409";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">	
			<div class="container">
				<a class="navbar-brand" href="index.html"><img src="images/logo.png" class="logo float-left"></a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>					
						<li class="nav-item"><a class="nav-link" href="index.html#ler_posts">Posts</a></li>
						<li class="nav-item"><a class="nav-link" href="sobre.html">Sobre</a></li>
					</ul>
					<!-- ainda vou ver se será um input ou uma luga 
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
						<button class="btn btn-primary" type="submit">Search</button>
					</form>		
				-->
				</div>	
			</div>				
		</nav>

		<!-- Page Header -->
		<header class="cabecalho">
			<div class="cabecalho-info">
				<div class="container">
					<div class="row">
						<div class="col-sm- post-title">
							<h1>Agora você vê: a magia do dinheiro</h1>						
						</div>
					</div>
					<div class="post-description">
						<div class="row">
							<div class="col-sm-4 ">
								<img src="images/Calendar.svg">
								<span>02 de Outubro, 2017</span>
							</div>
							<div class="col-sm-4">
								<img src="images/Person.svg">
								<span>Lucas Kenji</span>
							</div>
							<div class="col-sm-4">
								<img src="images/Tag.svg">
								<span>Dicas de Finanças</span>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</header>

		<!-- Post Content -->
		<article>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<h2 class="section-heading">Agora você vê: a magia do dinheiro</h2>
						<div class="fb-share-button" data-href="http://moedainteligente.com.br/post-agora-voce.html" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmoedainteligente.com.br%2Fpost-agora-voce.html&amp;src=sdkpreparse">Compartilhar</a></div>						
						<br>
						<br>
						<p>Você deixou de sair mais com os amigos, comeu comida barata o mês inteiro e se esforçou muito...maaaas, resistiu bravamente às tentações de gastar até o último centavo do seu salário. Isto tudo para poder juntar uma graninha para algo que você queria fazer com seu dinheiro: uma mega festa de fim ano, um computador novo ou seja lá o que valha todo este sofrimento.</p>

						<p>Até aí você mandou muito bem. Mas, no fim, resolve guardar seu dinheiro no cofrinho ou no colchão – à la Seu Sirigueijo. Esta estratégia pode até ser boa por um lado, já que te ajuda a poupar um pouco. No entanto, ela desconsidera alguns fatores importantes, como: o valor do dinheiro no tempo e, principalmente, as oscilações econômicas. Vamos entender melhor isso.</p>
						<div align="center">
						<img src="https://media.giphy.com/media/gXhBZfzijya76/giphy.gif" class="img-thumbnail">
						</div>
						<h2 class="section-heading">O que fazer com meu dinheiro?</h2>
						<p>Quando falamos em valor do dinheiro no tempo estamos pensando nos possíveis aumentos e diminuição do valor do dinheiro em determinado período. Por exemplo, se você pega dinheiro emprestado com uma instituição financeira, tem que pagar juros mensais por isso, ou seja, ao fim do período irá pagar bem mais do que o valor que recebeu como empréstimo.</p>

						<p>Mas isso também pode funcionar a seu favor. Quando você coloca seu dinheiro no banco e investe em algo é como se você fosse a pessoa que empresta o dinheiro e, dessa forma, recebe os juros mensalmente ou um valor maior ao final do período.</p>

						<p>“E como eu posso fazer isso”. São várias as opções. A mais popular com certeza é a poupança, apesar de que o rendimento (o retorno) não é tão alto assim. Além disso, você pode optar por vários outros investimentos, como CDB (Certificado de Depósito Bancário), LCI (Letra de Crédito Imobiliário), LCA (Letra de Crédito do Agronegócio) e até mesmo títulos do tesouro direto (investimentos em títulos vendidos pelo governo).</p>
						<p>Se você não tem a mínima ideia do que seja isso ou ainda não sabe como funciona cada um, dá uma olhada nesse e-book que preparamos com todos estes investimentos.</p>
					 
						<h2 class="section-heading">Cadê o dinheiro que estava aqui?</h2>

						<div align="center">
						<img src="https://media.giphy.com/media/yIxNOXEMpqkqA/giphy.gif" class="img-thumbnail">
						</div>

						<p>Independente de qual seja a sua estratégia do que fazer com o dinheiro, já é melhor do que deixar o dinheiro guardado em casa. Por quê?</p>

						<p>Quando você não mexe no dinheiro não consegue aumentar seu valor com o tempo: se tem R$100,00 hoje, em 10 meses continuará tendo os mesmos R$100,00. Daí você me pergunta: “qual o problema disso? Só estou poupando para comprar um celular novo, consigo o valor nos próximos 9 meses”. Com certeza, se você se programar direitinho e poupar 100 reais a cada mês, vai conseguir o que precisa. Porém, tem um outro fator que pode atrapalhar seus planos: o ambiente externo.</p>

						<p>As oscilações de fatores econômicos não podem ser esquecidas, quer você seja um estudante poupando os centavos ou uma empresa com bom fluxo de caixa. O melhor, mas não o único exemplo, da economia sobre o seu dinheiro é a inflação. No Brasil, constantemente vivemos períodos de alta da inflação, o que significa a perda do valor do dinheiro (o celular que antes você comprava com R$1000, num passe de mágica já não compra mais. Talvez o preço agora seja de R$1300).</p>

						<p>Agora já não dá mais para comprar o seu celular apenas poupando parte do salário e deixando o dinheiro parado. É preciso fazer o dinheiro trabalhar um pouco, então fique ligado no nosso blog e não perca as dicas.</p>

					</div>
				</div>
			</div>
		</article>
		
		<!-- Footer -->
		<footer class="blog-footer">
			<div class="container">
				<div class="row">
					<div class="col-3 col-sm-4 col-md-2">
						<div class="logo-rodape">
							<img src="images/logo-footer.svg" alt="Ver promoções" class="img-thumbnail icon-home">
						</div>
					</div>
					<div class="col-4 col-sm-4 col-md-3">
						<ul class="list">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="sobre.html">Sobre</a>
							</li>
							<li>
								<a href="#ler_posts">Posts</a>
							</li>
						</ul>                 
					</div>
					<div class="col-5 col-sm-4 col-md-3">
						<ul class="list">
							<li>
								<a href="index.html">Contato</a>
							</li>						
						</ul>		
						<ul class="redes-sociais">
							<li>
								<a href="#"><img src="images/facebook.svg"></a>
							</li>
							<li>
								<a href="#"><img src="images/instagram.svg"></a>
							</li>
						</ul>    
						
					</div>
					<div class="col-12 col-sm-12 col-md-4">
						<h5>Quero Receber mais conteúdos</h5>
						<form class="form" name="formLead" novalidate>          
							<div class="form-group">
								<input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" ng-model="form.nome" required/>        
							</div>

							<div class="form-group">
								<input type="text" name="sobrenome" id="sobrenome" class="form-control" placeholder="Sobrenome" ng-model="form.sobrenome" required/>        
							</div>

							<div class="form-group">
								<input type="email" name="email" id="email" class="form-control" placeholder="E-mail" ng-model="form.email" required/>
							</div>    

							<button class="btn btn-primary" ng-click="criarContato()">Quero Receber!</button>
						</form> 
					</div>
				</div>      
			</div>
		</footer>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		<script>
			!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
				(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
				r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
			}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-107388958-1');
			ga('send', 'pageview');
		</script>

		<!-- Hotjar Tracking Code for moedainteligente.com.br -->
		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:644793,hjsv:5};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
		
		<!-- JS -->
		<!-- Carregando a biblioteca jQuery -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
		<!-- Carregando a biblioteca AngularJS -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> 

		<script src="angularApp.js"></script>
	</body>
</html>
