<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<!-- Otimizar a exibição em dispositivos móveis -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>8 reações na hora</title>

	<!-- CSS -->
	<!-- Carregando o bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- JS -->
	<!-- Carregando a biblioteca jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<!-- Carregando a biblioteca AngularJS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>   

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="index.html">Start Bootstrap</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sample Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('images/background-home2.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>8 reações na hora de pagar a conta</h1>
          <h2 class="subheading">Muita gente ama comprar, mas a hora de pagar as vezes é um momento de tensão(ou desespero), abaixo listamos algumas reações na hora de comprar que muita gente já teve(ou terá) nessa vida: </h2>
          <span class="meta">Postado por
            <a href="#">Vic Moura</a>
            em 02 de Outubro, 2017</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" align="center">
      <h2 class="section-heading">8 reações na hora de pagar a conta</h2>
        <p>Muita gente ama comprar, mas a hora de pagar as vezes é um momento de tensão(ou desespero), abaixo listamos algumas reações na hora de comprar que muita gente já teve(ou terá) nessa vida:</p>
       
        <h2 class="section-heading">“500 reais? Mas eu só comprei 5 brusinhas, 2 calças, 1 bolsa e 1 vestido”</h2>
       
        <div align="center">
        <img src="http://imguol.com.br/c/tvefamosos/gif/nazare.gif" class="img-thumbnail">
        </div>
       
        <h2 class="section-heading">Aí o garçom traz a conta e você…</h2>
        <blockquote class="blockquote">...esqueceu a carteira...</blockquote>
        <div align="center">
        	<img src="https://media.giphy.com/media/l2R07iUjuD76ZWKw8/giphy.gif" class="img-thumbnail">
        </div>

        <blockquote class="blockquote">…mas acha ela naquele bolso que tinha esquecido que existia.</blockquote>
        <div align="center">
        	<img src="https://media.giphy.com/media/UDQpE7gUpU4j6/giphy.gif" class="img-thumbnail">
        </div>

        <h2 class="section-heading">No encontro com o(a) crush, a conta chega e você fala “pode deixar que eu pago”</h2>
        <div align="center">
        	<img src="https://media.giphy.com/media/3oEdv6Q8TR7EAAZCkU/giphy.gif" class="img-thumbnail">
        </div>

        <h2 class="section-heading">Quando você vai pagar no cartão e…</h2>	
        <blockquote class="blockquote">...“Processando…”</blockquote>
        <div align="center">
        	<img src="https://media.giphy.com/media/bEVKYB487Lqxy/giphy.gif" class="img-thumbnail">
        </div>

        <blockquote class="blockquote">...“Transação aprovada”</blockquote>
        <div align="center">
        	<img src="https://media.giphy.com/media/4PT6v3PQKG6Yg/giphy.gif" class="img-thumbnail">
        </div>

        <blockquote class="blockquote">...você esquece a senha.</blockquote>
        <div align="center">
        	<img src="https://media.giphy.com/media/cGwd0fMXOee88/giphy.gif" class="img-thumbnail">
        </div>

        <blockquote class="blockquote">...Ou o maior medo de todos…”Transação negada”</blockquote>
        <div align="center">
        	<img src="https://media.giphy.com/media/KupdfnqWwV7J6/giphy.gif" class="img-thumbnail">
        </div>

        <p>Pra facilitar a vida de vocês e evitar alguns perrengues como os citados acima temos alguns materiais que podem ajudar vocês a terem um controle melhor da vida financeira. Você pode se inscrever abaixo ou aqui(linkar a landing page), e vai receber esse e-book direto no seu e-mail.</p>

      </div>
    </div>
  </div>
</article>

<hr>

<!-- Footer -->
	<footer class="blog-footer">
		<div class="container">
		  <div class="row">
		    <div class="col-md-2 ">
		        <div class="service-item">
		            <img src="images/logo-footer.png" alt="Ver promoções" class="img-thumbnail icon-home">
		         </div>
		    </div>
		    <div class="col-md-2">
		        <ul class="list">
			        <li>
			          <a href="#">Home</a>
			        </li>
			        <li>
			          <a href="#">Sobre</a>
			        </li>
			        <li>
			          <a href="#">Materiais</a>
			        </li>
			      </ul>                 
		          </div>
		          <div class="col-md-3">                  
		                <ul class="list">
		        <li>
		          <a href="#">Busca</a>
		        </li>
		        <li>
		          <a href="#">Entre em contato</a>
		        </li>
		        <li class="footer-item">
		          <a href="#">Redes Sociais</a>
		        </li>
		      </ul>                 
		          </div>
		          <div class="col-md-4">
		            <h5>Quero Receber mais conteúdos</h5>
		              <form class="form">         
		            <div class="form-group">
		              <input type="text" id="nome" class="form-control" placeholder="Nome Completo" ng-model="form.nome"/>        
		            </div>

		            <div class="form-group">
		              <input type="text" id="email" class="form-control" placeholder="E-mail" ng-model="form.email"/>
		            </div>    
		          
		            <button class="btn btn-primary" ng-click="criarContato()">Quero Receber!</button>
		        </form>
		          </div>
		  </div>      
		</div>
	</footer>
</body>

</html>
