<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<!-- Otimizar a exibição em dispositivos móveis -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>4 filmes no netflix</title>

	<!-- CSS -->
	<!-- Carregando o bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- JS -->
	<!-- Carregando a biblioteca jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<!-- Carregando a biblioteca AngularJS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>   

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="index.html">Start Bootstrap</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="post.html">Sample Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('images/background-home3.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>4 filmes no netflix que vão te inspirar a cuidar melhor de suas finanças</h1>
          <h2 class="subheading">Os conteúdos disponíveis sobre finanças pessoais estão em todo o lugar, blogs como o Moeda Inteligente, livros, artigos, vídeos, a lista não tem fim, o assunto rende e é complexo em muitos aspectos.</h2>
          <span class="meta">Escrito por
            <a href="#">Izabela Medina</a>
            em 02 de Outubro, 2017</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      	<h2 class="section-heading">4 filmes no netflix que vão te inspirar a cuidar melhor de suas finanças</h2>
        <p>Os conteúdos disponíveis sobre finanças pessoais estão em todo o lugar, blogs como o Moeda Inteligente, livros, artigos, vídeos, a lista não tem fim, o assunto rende e é complexo em muitos aspectos. </p>

        <p>Uma maneira leve e divertida de entrar nesse universo é através de filmes, que nos ajudam com lições aprendidas por personagens, fictícios ou não, a lidar com situações relacionadas ao nosso dinheiro e a entender como funcionam as relações econômicas.</p>
        
        <p>Essa lista com certeza vai te inspirar a entender melhor sobre o mercado financeiro e a cultura do consumo, e proporcionar boas horas de entretenimento.</p>

        <h2 class="section-heading">Minimalismo: um documentário sobre o que realmente importa</h2>

        <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0Co1Iptd4p4" frameborder="0" allowfullscreen></iframe>
        </div>

        <p>Joshua e Ryan eram profissionais com um salário desejável e muitos bens materiais, mas sentiam falta da realização pessoal. Em 2010 decidiram perseguir um estilo de vida minimalista e compartilham neste documentário um pouco dessa experiência. O filme é leve, interessante e abre os olhos, mostrando que existem outros jeitos de viver, menos atrelados ao consumo e mais ao que realmente importa. Você não precisa jogar tudo fora e só deixar o essencial, mas pode viver com menos e ser mais feliz, o planeta agradece e suas finanças também!</p>

        <h2 class="section-heading">As loucuras de Dick e Jane</h2>
        <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rOFZjo-b0mE" frameborder="0" allowfullscreen></iframe>
        </div>


        <p>A comédia estrelada por Jim Carrey conta a história de Dick e Jane, um casal que levava uma vida confortável e de repente se vê falido, após a demissão de Dick.
		Com esse filme você vai se divertir, dar risadas, além de aprender com os erros do casal e reconhecer a importância de estar com as finanças preparadas para os imprevistos da vida.
		</p>

		 <h2 class="section-heading">A grande aposta</h2>
        <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QYR5A7JHIHo" frameborder="0" allowfullscreen></iframe>
        </div>

        <p>O filme conta a história de quatro especuladores que antecipam a crise econômica dos Estados Unidos de 2018 e apostam na falha do sistema imobiliário. Apesar de apresentar um contexto distante de quem não trabalha com o mercado financeiro, o filme oferece lições valiosas sobre investimentos que podem ser aplicadas à suas finanças pessoais, sendo as mais marcantes a de que a certeza que não é baseada por fatos concretos é perigosa e de que investimento pressupõe riscos.</p>

         <h2 class="section-heading">O Lobo de Wallstreet</h2>
        <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PoSCUsNQVtw" frameborder="0" allowfullscreen></iframe>
        </div>

        <p>O filme é baseado na história real de Jordan Belfort,  um investidor da bolsa de valores que enriquece defraudando pequenos investidores. Além de trazer a lição de que ter uma grande fortuna não é sinônimo de felicidade, ainda mais vivendo uma vida sem propósito, o filme educa quanto ao mercado de investimentos e quanto a necessidade de estudar antes de investir. Você vai aprender com Belfort a ficar esperto com promessas de riqueza sem fundamento.</p>

      </div>
    </div>
  </div>
</article>

<hr>

<!-- Footer -->
	<footer class="blog-footer">
		<div class="container">
		  <div class="row">
		    <div class="col-md-2 ">
		        <div class="service-item">
		            <img src="images/logo-footer.png" alt="Ver promoções" class="img-thumbnail icon-home">
		         </div>
		    </div>
		    <div class="col-md-2">
		        <ul class="list">
			        <li>
			          <a href="#">Home</a>
			        </li>
			        <li>
			          <a href="#">Sobre</a>
			        </li>
			        <li>
			          <a href="#">Materiais</a>
			        </li>
			      </ul>                 
		          </div>
		          <div class="col-md-3">                  
		                <ul class="list">
		        <li>
		          <a href="#">Busca</a>
		        </li>
		        <li>
		          <a href="#">Entre em contato</a>
		        </li>
		        <li class="footer-item">
		          <a href="#">Redes Sociais</a>
		        </li>
		      </ul>                 
		          </div>
		          <div class="col-md-4">
		            <h5>Quero Receber mais conteúdos</h5>
		              <form class="form">         
		            <div class="form-group">
		              <input type="text" id="nome" class="form-control" placeholder="Nome Completo" ng-model="form.nome" />        
		            </div>

		            <div class="form-group">
		              <input type="text" id="email" class="form-control" placeholder="E-mail" ng-model="form.email" />
		            </div>    
		          
		            <button class="btn btn-primary" ng-click="criarContato()">Quero Receber!</button>
		        </form>
		          </div>
		  </div>      
		</div>
	</footer>
</body>

</html>
